.projects{
    margin-top: 20px;
    display:flex;
    padding:10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width:100%; */
    padding:30px;
    /* background:linear-gradient(to bottom,rgba(233, 146, 16, 0.603),orange); */
}

project>ul{
    width:80%;
    padding-left: 30px;;
}

hr{
    border-top:1px solid blue;
    width:80%;
}